<h1>HelpMe HelpDesk</h1>
<div>
  <nav class="navbar">
    <button class="btn"><a routerLink="/ticket">Create Ticket</a></button>
    <button class="btn"><a routerLink="/display-ticket">Lookup Ticket</a></button>
    <button class="btn"><a routerLink="/ticket-list">View Ticket List</a></button>
    <button class="btn"><a routerLink="/customer-list">View Customer List</a></button>
    <button class="btn"><a routerLink="/bookmark">View Bookmarks</a></button>
    
  </nav>
</div>

<router-outlet></router-outlet>